<?xml version="1.0" encoding="utf-8" ?>

<log4net xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
    <file value="Logs\app.log" />
    <appendToFile value="true"/>
    <preserveLogFileNameExtension value="true"/>
    <staticLogFileName value="false"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%-5level %date %property{log4net:HostName} [%thread] %logger - %message%newline" />
    </layout>
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="20" />
    <maximumFileSize value="10MB" />
    <staticLogFileName value="true" />
    <threshold value="ALL"/>
  </appender>

  <appender name="GelfHttpAppender" type="Gelf4net.Appender.GelfHttpAppender, Gelf4Net.HttpAppender">
    <url value="#{GraylogURL}" />
    <layout type="Gelf4net.Layout.GelfLayout, Gelf4Net.Core">
      <param name="AdditionalFields" value="System:ParvarykWebApi#{EnvironmentName},Component:Api,app:HttpAppender,Environment:#{EnvironmentName}" />
      <param name="IncludeLocationInformation" value="true" />
    </layout>
    <threshold value="#{GraylogThreshold}"/>
  </appender>

  <root>
    <appender-ref ref="RollingFile" />
    <appender-ref ref="GelfHttpAppender"/>
  </root>

</log4net>